body {
background: linear-gradient(#e0e0eb, #26C6DA);
font-family: 'Helvetica';
}
.menuSidePicWrapper {
  display: flex;
}
.feedWrapper{
  display: flex;
}
.titleWrap{
  display: flex;
}
.history{
  border: solid black 2px;
}
.socialMedia {
  background-color: transparent;
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 0%;
}
.openTable {
  height: 40px;
  width: 50px;
}
.icons {
  height: 40px;
  width: 40px;
}
.feed {
  border: solid black 1px;
  flex: 1;
  align-content: center;
}
.headerPic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
.menuHistoryReservastionWrapper {
  flex: 2;
}
.sideBar {
  flex: 1;
}
.menu {
  border: solid black 2px;
}
.buttons {
  background-color: #00838F;
  margin: 0px auto;
  width: 33.09%;
  font-size: 50px;
  justify-content: center;
  position: relative;
  text-align: center;
}
.reservation {
  border: solid black 2px;
  padding-bottom: 10px;
}
.dailySpecialPic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
.food-pic {
  
}
#footer {
  margin: 0px auto;
  position: relative;
  text-align: center;
}
#footer .copyright {
  line-height: 22px;
  margin-top: 10px;
}
#map {
  height: 413px;
  width: 413px;
}
#news {
  border: solid black 2px;
  left: 110px;
  top: 410px;
}
#special{
  border: solid black 2px;
  border-left: none
  left: 160px;
  top: 410px;
}
#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
#disqus_thread{
  border: solid black 2px;
  border-top: none;
}
/*For larger tablets*/
@media only screen and (max-width: 1024px) {
  #logo {
    width: 80%;
  }
  .feedWrapper {
    flex-direction: column;
  }

  .socialMedia {
    display: none;
  }

  .buttons {
    width: 32.9%;
    font-size: 25px;
  }
  #map {
    width: 100%;
  }

  .menuSidePicWrapper {
    margin-right: 0;
  }
}
/* For Tablets */
@media only screen and (max-width: 768px) {
  #logo {
    width: 80%;
  }
  .feedWrapper {
    flex-direction: column;
  }

  .socialMedia {
    display: none;
  }

  .buttons {
    width: 32.9%;
    font-size: 25px;
  }
  .map {
    display: none;
  }

  .menuSidePicWrapper {
    margin-right: 0;
  }
}
/* For mobile phones */
@media only screen and (max-width: 480px) {
  img {
    width: 60%;
  }
  .headerPic {
    width: 74%;
    height: 81%;
    justify-content: center;
  }
  .dailySpecialPic {
    width: 100%;
  }
  .socialMedia {
    display: none;
  }
  .buttons {
    width: 32.45%;
    font-size: 12px;
  }
  .map {
    display: none;
  }
  .news {
    display: none;
  }
  .headerPicWrapper {
    flex-direction: column;
  }
  .special-notes {
    width: 50px
  }
}
