.titleWrap{
  display: flex;
}
.history{
  border-style: solid;
  height: 675px;
  width: 350px;
  position: absolute;
  left: 510px;
}
#map {
       height: 400px;
       width: 400px;
      }
#news{
  border-style: solid;
  background-color: red;

  left: 110px;
  top: 410px;

}
#special{
  border-style: solid;
  background-color: blue;
  left: 160px;
  top: 410px;
}
#fancy{
  border-style: solid;
  background-color: yellow;
  left: 210px;
  top: 410px;
}
#alaydis{
  border-style: solid;
  background-color: green;
  left: 260px;
  top: 410px;
}
#pub{
  border-style: solid;
  background-color: white;
   left: 310px;
  top: 410px; 
}
#logo {
  width: 500px;
  height: 500px;
}
#title{
  font-size: 100px
}
